@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/angular.min.js"></script>

<div ng-app="myApp">
    <div class="jumbotron">
        <h1>My Contacts</h1>
    </div>

    <div class="row" ng-controller="myCtrl">
        <div class="row">
            <div class="col-md-4">
                <p>{{FirstName}} {{LastName}}</p>
            </div>
            <div class="col-md-8">
                <p>{{myJson.FirstName}} {{myJson.LastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li ng-repeat="person in myJsonList">
                        <p>{{person.FirstName}} {{person.LastName}}</p>
                        <button type="button" ng-click="editUser(person.Id)">Edit</button>
                        <button type="button" ng-click="details(person.Id)">Details</button>
                        <hr />
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>

